*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #fafcff, #c8e0fb);
}


@keyframes fadeIn{
    from{opacity: 0; transform: translateY(-20px);}
    to {opacity: 1; transform: translateY(0);}
}

.container{
    /* background-color: red; */
    /* background-color: rgb(8, 48, 81); */
    background-color: white;
    max-height:max-content;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 40px;
    border-radius: 0px;
    animation: fadeIn 2s ease forwards;

    /* border: 1px solid rgb(8, 48, 81); */
    box-shadow: 0 10px 10px  rgba(0, 0, 0, 0.229);    
    
}


.heading{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    color: rgb(8, 48, 81); 
    font-family:Verdana, Geneva, Tahoma, sans-serif;    
    
    font-size: 40px;
    font-weight: bold;
    white-space: nowrap;
    letter-spacing: 5px; 

}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: fit-content;
    padding-top: 100px;
     
}
button{
    
    background: linear-gradient(130deg, #0d477b, #5cc8fe); 

    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;    
    font-size: 25px;
    max-height:fit-content;
    max-width: max-content;
    padding: 25px;
    border-radius: 10px;
    border: none;
    font-weight:bold;
    transition: transform 0.2s, background-position 0.5s;
    background-size: 200% auto;
    
}


button:hover{
    transform: scale(1.05);

    /* box-shadow: 0 0px 10px  rgba(47, 161, 254, 0.838);; */
    background-position:  center; 

}

button:active{
    
    background-color:  rgb(6, 45, 77);;
    
}

@media (max-width: 1000px) {


body{
    min-height: 100vh;
    max-height: auto;

}

.container{    
    padding: 32px;
    
}


.heading{
   
    font-size: 24px;
}

.buttons{


    gap:50px;
    
}
button{
    
    font-size: 18px;
    max-height:fit-content;
    max-width: max-content;
    padding: 20px;
    letter-spacing: 2px;

    
}



}

@media (max-width: 720px) {


body{
    min-height: 100vh;
    max-height: auto;

}

.container{    
    padding: 26px;

    
}


.heading{
   
    font-size: 15px;
    letter-spacing: 5px;
}

.buttons{

    padding-top: 70px;

    gap:30px;
    
}
button{
    
    font-size: 12px;
    max-height:fit-content;
    max-width: max-content;
    padding: 16px;
    letter-spacing: 1px;

    
}



}


@media (max-width: 480px) {


body{
    min-height: 100vh;
    max-height: auto;

}

@keyframes fadeIn{
    from{opacity: 0; transform: translateY(-20px);}
    to {opacity: 1; transform: translateY(0);}
}    

.container{  
    all:unset;
    padding: 20px;
    background-color:white;
    width:85%;
    box-shadow: 0 10px 10px  rgba(0, 0, 0, 0.229);    
    border-radius:10px;
    animation: fadeIn 2s ease forwards;
}


    

.heading{
   
    font-size: 95%;
     transform: scaleY(1.25);
    
    letter-spacing: 3px;
    
    overflow-wrap:break-word;
}

.buttons{
    padding-top: 50px;

    gap:10px;
    
}
button{
    
    
    max-height:fit-content;
    max-width: max-content;
    
    letter-spacing: normal;
    width: 100%;
    
}



}

@media (max-width: 365px) {


body{
    min-height: 100vh;
    max-height: auto;

}

.container{    
    padding: 8px;

    
}


.heading{

    flex-wrap: wrap;
    overflow-wrap: break-word;
    word-break: normal;
    white-space: normal;
    font-size: 8px;
    letter-spacing:1px;

}

.buttons{
    padding: 10px;
    padding-bottom: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap:10px;
    
}
button{
    
    font-size:8px;
    max-height:fit-content;
    max-width: max-content;
    padding: 8px;
    letter-spacing: normal;

    
}



}
