*{
    margin: 0%;
    padding: 0%;

    
}
body{
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    
    background-color: white;
}


.header{
     background-color: rgb(14, 82, 138);

    height:80px;
    width: 100vw;
    padding-left: 100px;
    display: flex;
    align-items: center ;
    justify-content: flex-start;
    font-family: "Garamond";
    font-size: 35px;

    white-space: none;
    letter-spacing: 5px;
    font-weight: bolder;
    color: white;    
    z-index: 10;
}


.container{
    
    flex:1;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center ;
    justify-content: center;
}

.converter{
    padding: 40px;
    border-radius: 16px;
    background-color:white;
    width: 600px;
    /* height: 50vh; */
    min-height: fit-content;
    max-height: 50vh;
    box-shadow: 0 4px 6px  rgba(14, 82, 138, 0.403);
    display: flex;
    flex-direction: column;
    gap:20px;
    transition: transform 0.3s;

}   

.converter:hover{
    transform: scale(1.02);
    box-shadow: 0 0px 16px  rgb(134, 217, 255);    
}

.input_takers{
 height: 100%;
 width: 100%;
 
 font-size:18px;
 color: rgb(14, 82, 138);
 
 font-weight: bold; 
 display: flex;;
 flex-direction: column;
 gap:35px;
 
}

.number_input{
    width: 100%;
    font-weight: bold;
    height: max-content;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    word-break: keep-all;
    gap:10px;
    align-items: center;
    justify-content: center;    
    
    
}

::placeholder{
    font-family:monospace;
    font-weight:bold;
    letter-spacing:2px;    
}
input{
    font-family:monospace;
    width: 90%;
    height: 40px;
    font-size: large;
    box-shadow: 0 0px 4px  rgba(14, 82, 138, 0.452);
    border-radius:12px;
    padding-left: 20px ;

    
    border:none;

}

.select_base{
    display: flex;
    flex-direction: row;
    height: max-content;
    width: 100%;
    gap:10%;
    z-index: 4;
}

label{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    
}

.from_base,.to_base{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:10px;


    
}

.tobase, .frombase{
    height: max-content;
    width: max-content;
    white-space: nowrap;
    word-break: keep-all;
    display: flex;
    
    
    

}

#from_base, #to_base{
    width: 100%;
    height: 40px;
    border: 0px solid  rgb(14, 82, 138);
    box-shadow: 0 2px 4px  rgba(14, 82, 138, 0.452);
    border-radius:10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(82, 82, 82);
    letter-spacing: 1px;
    
}

button{
    height:50px;
    width: 200px;
    
    
    background-color: rgb(0, 164, 223);
    
    border: none;
    
    border-radius: 50px;
    color: whitesmoke;

    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;
    
    font-size: 20px;
    letter-spacing: 2px;

    z-index: 10;
    
}

.buttons{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
button:hover{
    
    background-color: rgb(69, 205, 255);
}
button:active{
    
    background-color: rgb(2, 118, 159);
    
}
.output{
    position: relative;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 20px;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(14, 82, 138);
    letter-spacing: 2px;
    height:fit-content;
}
.answer_title{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

#warning{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(20, 116, 194, 0.664);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: normal;
    white-space: normal;
    word-break: normal;
    overflow-wrap: break-word;
    font-weight: bolder;

    
}
.output::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, rgb(14, 82, 138),rgb(0, 164, 223), transparent); 
    margin-top: 40px;
}
.answer_area{

        font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    white-space: nowrap;
    word-break: keep-all;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width:thin;
    scrollbar-color: rgb(30, 100, 160) transparent; /* thumb and track */
    height: 50px;
    color: black;
    letter-spacing: 2px;
    margin-bottom: 12px;
    font-weight: bold;
    
}


.footer {

        
  position: relative;
  display: flex;
  flex-direction: row;
  
  max-height:  fix-content;
  bottom: 0;             
  left: 0;   
  min-height: 30px;
  /* min-height: fit-content; */
  padding-left: 100px;
  width: 100vw;  
    background-color: rgb(14, 82, 138);
    


}


.footer_box p{
    
    font-family: "Garamond";
    font-size: 18px;
    color: whitesmoke;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    white-space: nowrap;
    width: 100%;
    font-weight: bolder;
}


 .footer_box{
    white-space:nowrap;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:10px;
 }

#home{
    display: flex;
    width: 100%;
    
    flex-direction: row;
    justify-content:  flex-end;
    padding-right: 100px;

    padding-left: 20px;
       
    align-items: center;
    font-family: "Garamond";
    font-size: 15px;
}


.link{
    
    color: rgb(181, 220, 255);
    padding-left: 20px;
    text-decoration: none;
    font-weight:bold;
}


#button_clicked_calculator, #to_home{

    background : none;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;

}

#button_clicked_calculator:hover, #to_home:hover{
    
    color: rgb(69, 205, 255);
}
#button_clicked_calculator:active, #to_home:active{
    
    color: rgb(2, 118, 159);
    
}


/* @media (max-width: 800px) {
    .Calculator,
    input,
    select,
    button,
    label,
    .footer_box,
    #home,
    .answer_area,
    .select_base {
        all: unset;
    }
} */
@media (max-width: 1000px) {
    body{
        min-height: 100vh;
        max-height: auto;
    }
    
    .header{
        max-height:80px ;
        font-size: 35px;
    }

    .container{
        height: auto;

    }
    #header_title{
        font-size: 30px;
        
    }
    
    .converter{
        
        font-size: 20px;
        
        

    .select_base{
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 100%;
    }

    }
    label{
        font-size: 18px;
    }

    .answer_title{
        margin-bottom: 12px;
        font-size: 18px;
        font-weight: bold;
        display:flex;
        flex-direction:column;
    }

    .answer_area{
        font-size: 14px;
        max-height: fit-content;
        min-height: 55px;
    }

}


@media (max-width: 720px) {
    *{
        padding: 0%;
        
        
    }
    body{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow-y: auto;
        min-height: 100vh;
        overflow-x: hidden;

    }
       
   
  .header{
        flex-wrap: nowrap;
        height: 55px; 
        min-width: 100vw;
        padding-left: 0%;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: serif;
    }

    .container{
        
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        
    
    }


    .converter{
        
        height: auto;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        padding: 10px;
        margin: 30px;

    }
    .input_takers{
        
        display: flex;
        flex-direction: column;
        align-items:center;
        /* justify-content: center; */
        padding: 40px;
        gap: 50px;
    }


    .number_input{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center;         */
        gap: 20px;
    }
    label{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        font-size: 20px;
        letter-spacing: 2px;
    }
    input{
        width: 90%;
        
        height: auto;
        padding: 10px;
        border-radius: 10px;
    }

    .select_base{
        /* background-color: red; */
        max-width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: max-content;
        flex-wrap: wrap;
        gap: 20px;
        
        
    }
    select{
        
        min-width: fit-content;
        min-height: fit-content;
        display: flex;
        align-items: center; 
        justify-content: center;       
    } 
    button{
        width: 60%;
        padding: 8%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .output{
        gap: 36px;
        font-size: 25px;
        width: 90%;
        
    }

    .answer_area{
        
        height: 100%;
        width: 100%;
        font-size: 20px;
        margin-bottom: 15px;
    }
    .answer_title{
        font-size: 18px;
        
        text-align: center;
    }


    .converter:hover{
    transform: scale(1.02);
    box-shadow: 0 0px 16px  rgb(134, 217, 255);    
}    

/* .footer{
    margin-bottom: 0%;
    position: relative;
    margin-top: auto;
    width: 100%;
} */


   .footer{    
  position: relative;
  display: flex;
  flex-direction: row;
  
  max-height:  fix-content;
  bottom: 0;             
  left: 0;   

  /* min-height: 30px; */
  
  padding-left: 0%;
  width: 100vw;  
    background-color: rgb(14, 82, 138);
       min-height:30px;
    }

 .footer_box p{
    /* background-color: red; */
    font-size: 16px;
    white-space: nowrap;

    width: 100%;
    font-size: 14px;
    
 }


 
 .footer_box{
    white-space:nowrap;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding: 0%;
    margin-right:0%;
    margin-left:20px;
 }


 #button_clicked_calculator{
    padding: 0;
    font-size: 14px;
    
    
 }
 #to_home{
    font-size: 14px;
    /* background-color: red; */
    display: flex;
    
    justify-content: center;    
    align-items: center;
    padding: 0%;
    margin-right: 20px;

 }

 #home{
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding-right: 0%;
     margin-right:20px;
 }

} 



/* #convert_button{
    width:100%;
    padding:13px;
} */

button{
    height:50px;
    width: 200px;
    
    
    background-color: rgb(0, 164, 223);
    
    border: none;
    
    border-radius: 50px;
    color: whitesmoke;

    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;
    
    font-size: 20px;
    letter-spacing: 2px;

    z-index: 10;
    
}

@media (max-width: 480px) {
    *{
        padding: 0;
        margin: 0;
        
    }
    body{
        /* background-color:yellow; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow-y: auto;
        min-height: 100vh;
        overflow-x: hidden;
        padding: 0;
        margin: 0;

    }
    .header{
        flex-wrap: nowrap;
        min-height:fit-content;
        padding-left: 0%;
        font-size:18px;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    .container{
        width: 100vw;
        min-height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* padding: 10px 0px; */
    }

    .converter{
        
        max-width: 66vw;

        height: auto;
        min-height: 50vh;
        max-height: fit-content;
        /* padding: 20px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;

    }
    .input_takers{
        /* background-color: chartreuse; */
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;        
        
        gap: 25px;
    
    }


    .number_input{
        /* background-color: aqua; */
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;        
        gap: 15px;
    }
    label{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        font-size: 14px;
    }
    input{
        width: 90%;
        /* background-color: blueviolet;35px */
        height: 35px ;
        /* padding: 10px; */
        padding: 0;
        border-radius: 10px;
        font-size: 10px;
        text-align: start;
        padding-left: 10px;
    }

    .select_base{
        /* background-color: brown; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        gap: 10px;

        
    }

    select{
        width: 90%;
        min-height: fit-content;
        max-height: 30px;
        border-radius: 8px;
        font-size: 10px;
        text-align: start;        
    }
    button{
        width: 80%;
        /* padding: 6%; */
        padding: 6%;
        height: 40px;
        padding: 6px;
        font-size: 14px;
        border-radius: 25px;

    }
    .buttons{
        width: 70%;
    }

    .output{
        /* background-color: red; */
        gap:20px;
        
        font-size: 18px;
        width: 90%;
        text-align: center;
        word-wrap: break-word;
        
    }

.output::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, rgb(14, 82, 138),rgb(0, 164, 223), transparent); 
    margin-bottom: 20px;
    left: 0%;
}    

    .answer_area{
        /* background-color: aliceblue; */
        height: auto;
        width: 100%;
        font-size: 15px;
        overflow-x: auto;
        font-weight:bold;
    }


.converter:hover{
    transform: scale(1.02);
    box-shadow: 0 0px 16px  rgb(134, 217, 255);    
}    

    .footer{
    position: relative;
    width: 100%;
    margin-top: auto;
    padding-left: 0;
    justify-content: center;
    text-align: center;

        
}
 .footer_box p{
    font-size: 10px;
    white-space:nowrap;
    text-align: center;
    margin-left: 15px;
    

 }


 .footer_box{
    white-space:nowrap;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:10px;
 }
#to_home, #home,#button_clicked_calculator{
    padding: 0;
    font-size: 10px;
    
}


#home{
    margin-right: 20px;
}
 
.answer_title{
    font-size: 14px;
    font-weight:bold;
    
}



}



@media (max-width:350px){
     .footer_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:7px;
        margin-top: 10px;
 }

}

@media (max-width: 278px) {


    .header{
        min-height: fit-content;
        padding: 0%;
        
        
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer_box{
        
        font-size: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    #to_home, #home,#button_clicked_calculator{
        padding: 0;
        font-size: 10px;
        text-wrap: wrap;
        word-break: break-all;
        white-space: wrap;

    }


    #home{
        margin-right: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;        
        
    }
    
    .answer_title{
        font-size: 5px;
        font-weight:bold;
    }

 button{
    font-size: 6px;
     
 }
 .answer_area{
    font-size: 8px;
 }
 label, .select_base, .frombase, .to_base, #header_title, p{
    font-size: 10px;
    text-wrap: wrap;
    word-break: break-all;
    white-space: wrap;
 }


    
}
/*  */
